*{
   margin: 0;
   padding: 0;
}
body{
   display: flex;
   justify-content: center;
   align-items: center;
   height: 100vh;
   background: aliceblue;
}
div{
   width: 460px;
   padding: 40px;
}
h3{
   color: orange;
   font-size: 55px;
   text-align: center;
   margin-top: 20px;
}
input {
    padding: 10px;
    font-size: 20px;
    border: 1px solid #e7e7e7;
}
button {
    padding: 10px 20px;
    font-size: 20px;
    border: 1px solid #e7e7e7;
    background: antiquewhite;
    margin-left: 36px;
    cursor: pointer;
}